/* Navbar container */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background-color:#0b5d3b;
font-family:Arial, sans-serif;
}

/* Website logo */
.logo{
color:white;
font-size:22px;
font-weight:bold;
text-decoration: none;
}

/* Buttons container */
.nav-buttons{
display:flex;
gap:12px;
}

/* Button style */
.nav-btn{
text-decoration:none;
background:white;
color:#0b5d3b;
padding:8px 16px;
border-radius:20px;
font-weight:600;
transition:all 0.3s ease;
border:2px solid white;
}

/* Hover effect */
.nav-btn:hover{
background:#7ed957;
color:#083d2b;
transform:translateY(-2px);
box-shadow:0px 4px 10px rgba(0,0,0,0.2);
}